* {
    box-sizing: border-box;
}

.col {
    float: left;
    padding: 5px;
    border: 1px solid #FFFFFF;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.span_1_of_12{
  width:100%;
}
.span2{
  width:100%;
}
.gen{width:30%;}
.span3{width: 60%;}
.gen2{width: 10%;}
#discrimination{
  color: #000000;
}
.spanA{width: 100%;}
.spanB{width: 100%;}
.spanC{width: 100%;}
.spanD{width: 100%;}
.spanE{width: 100%;}
.spanF{width: 100%;}
.spanG{width: 100%;}
.spanH{width: 100%;}
.span-A{width: 100%;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header{
  text-align: center;
  color: #ecb722;
  background-color: #1b447f;
}
.instructor{color: #ecb722;}


p{color:#1b447f; }
h3{color:#ecb722; }
.t-sec{  background-color: #1b447f;}

h2{
  text-align: center;
}
.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b447f;
  position: fixed;
  top: 0;
  width: 200px;
  color: #ecb722;
}
a{
  color:#ecb722;
}
li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #03a3df;
}

.active {
  background-color: #04AA6D;
}
.container{
       overflow: hidden;
       max-height: 250px;
       position: relative;
    }
.container img{
       width: 100%;
    }
.box3{position: absolute;
          bottom: 10px;
          left: 10px;}
.footer{
  color: #ecb722;
}
.inst1p{
transition: all .2s ease-in-out;
}
.inst1p:hover{transform: scale(1.3);}
.inst2p{
transition: all .2s ease-in-out;
}
.inst2p:hover{transform: scale(1.3);}
.inst3p{
transition: all .2s ease-in-out;
}
.inst3p:hover{transform: scale(1.3);}
.inst4p{
transition: all .2s ease-in-out;
}
.inst4p:hover{transform: scale(1.3);}
.box1{
transition: all .2s ease-in-out;
}
.box1:hover{transform: scale(1.3);
  background-color: white;
}
.aboutInst{width:75%;
text-align: center;
margin: auto;}
.gen2{
  transition: all .2s ease-in-out;
}
.gen2:hover{
  transform: scale(1.1);
}
.spanB{transition: all .2s ease-in-out;}
  .spanB:hover{transform: scale(1.1);}
.spanD{transition: all .2s ease-in-out;}
.spanD:hover{transform: scale(1.1);}
.spanE{transition: all .2s ease-in-out;}
  .spanE:hover{transform: scale(1.1);}
.spanf{transition: all .2s ease-in-out;}
.spanf:hover{transform: scale(1.1);}
.spanG{transition: all .2s ease-in-out;}
.spanG:hover{transform: scale(1.1);}
.gen2{width:100%;
}
#discrimination{width:60%;}
aside{text-align: center;}
